*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commons layout*/

body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: calc(100vh - 90px);
}

.nav-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    background-color: #000;
}

.hero{
    width: 100%;
}

header{
    width: 100%;
}

.header-up{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
    
}

.hamburgher{
    display: none;
    margin-left: 20px;
    font-size: 40px;
}
.hamburgher i{
    color:white;
}

.upgrade{
    display: flex;
    align-items: center;
    height: 70px;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.5);
}

main{
    width: 100%;
    background-color: #141922;
    overflow: auto;
    height: calc(100% - 70px);
    padding: 0 10px;
}

/* modifica scrool main */
main::-webkit-scrollbar {
    width: 12px;               
  }
  
main::-webkit-scrollbar-track {
    background: #141922;
           
  }
  
main::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(163, 163, 163);    
    border-radius: 20px;         
  }

footer{
    width: 100%;
    height: 90px;
    background-color: rgb(98, 153, 255);
}

a{
    text-decoration: none;
}

h2{
    color: white;
}

h4{
    margin: 10px 0 7px 0;
}

.fix-white{
    color: white;
}

/* aside */

.nav-aside{
    padding: 10px;
}
.logo{
    position: relative;
    height: 60px;
}

.logo .first-logo{
    display: block;
    width: 150px;
}

.logo .logo-overlay{
    display: none;
    width: 45px;
}

ul{
    list-style: none;
}
.home ul li i{
    color: #a3a3a3;
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.home a:hover{
    color: white;
}
.nav-aside p,
.nav-aside a,
.name-playlist ul li{
    color: #a3a3a3;
    font-size: 13px;
}

.min-nav-aside{
    display: flex;
}
.text-min-aside{
    padding-left: 10px;
}

.plus-playlist{
    display: flex;
    align-items: baseline;
    margin-top: 12px;    
}

.square-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #a3a3a3;
    margin-right: 10px;
}
.text-plus a:hover{
    color: white;
}
.plus-playlist i{
    font-size: 20px;
}

.name-playlist{
    max-height: 240px;
    margin-bottom: 80px;
}
.name-playlist li{
    margin: 15px 0;
}
.name-playlist a:hover{
    color: white;
}
.installa{
    padding: 6px 0;
}
.installa a:hover{
    color: white;
}
.app-bottom i{
    display: flex;
    margin-right: 8px;
}
.download-app{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a3a3a3;
}
.profile-doe{
    display: flex;
    align-items: center;
}
.john-doe{
    padding-top: 6px;
}
.john-doe i{
    font-size: 20px;
}
.john-doe i:hover{
    color:white;
}
.text-installa a:hover{
    color: white;
}

/* upgrade */
.effettua {
    display: block;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid white;
    padding: 8px 30px;
    border-radius: 25px;
    margin-right: 20px;
}
.effettua-small{
    display: none;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 25px;
    margin-right: 20px;  
}
.effettua a,
.effettua-small a{
    color: #fff;
}
.effettua:hover{
    transform: scale(1.1);
}


/* navbar-header */
.navbar-header{
    margin-right: 200px;    /* dovuto aggiungere margine, con il fixed la nav si spostava a destra e non era centrata */
}
.navbar-header a{
    margin: 0 20px;
    font-size: 15px;
    font-weight: 700;
    color: #a3a3a3;
}
.navbar-header a:hover{
    color: white;
    font-size: 16px;
}

/* main */
.description{
    width: 100%;
    padding: 80px 0 20px 0;
    margin-left: 5px;
}
.description p{
    color: #a3a3a3;
}
.box-card{
    flex-wrap: wrap;
    display: flex;
    width: 100;
}

.card{
    margin: 0 5px 25px 5px;
    width: calc((100% / 6) - 10px);
}
.card img{
    width: 100%;
    overflow: hidden;
}
.img-lp{
    position: relative;
}
.play-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}
.card:hover .play-overlay{
    opacity: 1;
}

.title-lp{
    text-align: center;
}

.card h4{
    color: white;
}
.card p{
    color:#a3a3a3;
    font-size: 13px;
}

.circle{
    border-radius: 50%;
    overflow: hidden;
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    background-color: #282828;
    padding-top: 10px;
}

.nav-left{
    display: flex;
}
.brano img{
    width: 70px;
}
.text-brano{
    margin-right: 30px;
    padding: 8px 10px;

}
.text-brano h4{
    margin-bottom: 3px;
    color: white;
}
.text-brano p{
    font-size: 12px;
    color: #a3a3a3; 
}
.icons{
    display: flex;
    align-items: center;
}
.icons i:hover{
    color: white;
}
.file{
    padding-left: 25px;
}
.file a i,
.heart a i{
    font-size: 20px;
    color: #a3a3a3;
}

.play-stop{
    margin-bottom: 5px;
    text-align: center;
}

.play-stop ul li{
    display: inline-block; 
}

.play-stop ul li i{
    font-size: 20px;
    color: white;
    vertical-align: middle;
}
.play-stop ul li .fa-play-circle{
    font-size: 30px;
}
.play-stop ul li i:hover{
    color: lime;
}

.play-stop ul > li{
    margin: 0 10px;
}

.time-play span{
    color: white;
}

.barra-play,
.line-voice{
    display: inline-block;
    position: relative;
    border: 3px solid grey;
    border-radius: 5px;
    margin: 0 10px;
}

.barra-play-effect,
.voice{
    position: absolute;
    top: -3px;
    left: -3px;
    width: 200px;
    border: 3px solid lightgrey;
    border-radius: 5px;
}
.barra-play-effect:hover,
.voice:hover{
    border:3px solid  lime;
}

.barra-play{ width: 500px;}

.barra-play-effect{ width: 200px;}

.line-voice{width: 150px;}

.voice{ width: 50px;}

.nav-right ul li{
    display: inline-block;
    line-height: 70px;
    padding-left: 10px;
}

.nav-right a{
    color: white;
}
.nav-right a:hover{
    color: lime;
}

/* media */
@media screen and (max-height: 640px){
    .name-playlist{
        overflow-y: auto;
    }
}


@media screen and (max-width: 1300px) {
    /* main card */
    .box-card{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    } 
    .card{
        width: 20%;
    }

}
        

@media screen and (max-width: 1100px) {
    /* main card */
    .box-card{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    } 
    .card{
        width: 25%;
    }
    
    /* footer */
    .icons{
        display: none;
    }
    .nav-right ul li .fa-list,
    .nav-right ul li .fa-desktop{
        display: none;
    }
    .line-voice{
        width: 80px;
    }
}
        

@media screen and (max-width: 900px) {
    /* header-nav */
    .hamburgher{
        display: block;
        margin-left: 20px;
        font-size: 30px;
    }
    .header-up{
        justify-content: space-between;
    }
    .nav-menu{
        display: none;
    }

    /* main card */
    .box-card{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    } 
    .card{
        width: 40%;
    }
    
    /* footer */
    .barra-play{ width: 300px;
    }
}
        

@media screen and (max-width: 700px) {
    /* upfrade */
    .effettua{
        display: none;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid white;
        padding: 8px 30px;
        border-radius: 25px;
        margin-right: 20px;
    }
    .effettua-small{
        display: block;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid white;
        padding: 5px 15px;
        border-radius: 25px;
        margin-right: 20px;  
    }

    /* main card */
    .description{
        text-align: center;
    }
    .box-card{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    } 
    .card{
        margin-top: 20px;
        width: 80%;
    } 

    /* footer */
    .text-brano{
        display: none;
    }
    .brano {
        align-self: center;
    }
    .brano img{
        width: 50px;
    }
    .line-voice{
        display: none;
    }
}

@media screen and (max-width: 450px){

    /* footer */

    .time-play{
        display: none;
    }
    .nav-central{
        display: flex;
        align-items: center;
    }
    .nav-right,
    .nav-right ul{
        display: flex;
    }

    /* adide */
    .logo .first-logo{
        display: none;
        width: 150px;
    }
    
    .logo .logo-overlay{
        display: block;
        width: 45px;
    }
    .nav-aside{
        align-items: center;
        width: 60px;
    }

    .text-min-aside{
        display: none;
    }
    .home-aside{
        padding: 10px 0;
    }
    .home-aside a{
        font-size: 20px;
    }
    .playlist h5,
    .text-plus{
        display: none;
    }
    .square-plus{
        margin: 0;
    }
    .name-playlist ul{
        display: none;
    }
    .text-installa{
        display: none;
    }
    .installa{
        display: flex;
        margin: auto;
    }
    .installa i{
        font-size: 20px;
    }
    .download-app{
        border: none;
    }
    /* main card */
    .card{
        margin-top: 20px;
        width: 100%;
    } 

}











        





